<html>
  <head>
    <title>imdb ratings rss</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://unpkg.com/modern-normalize@0.4.0/modern-normalize.css" />
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//ping.bitboxer.de/tracker.js', 'fathom');
      fathom('set', 'siteId', 'UJCMW');
      fathom('trackPageview');
    </script>
    <!-- / Fathom -->
  </head>
  <body>
    <p>
      Creates an rss feed for public imdb ratings.
    </p>

    <p>
      You can find the rss feed under 
      <code>
        /rss/#{USER_ID}
      </code>. To find out your imdb user ID, go to your
      ratings page and look at this part of the URL:
      <pre>
http://www.imdb.com/user/ur7019649/ratings
                         ---------
      </pre>
    </p>
    <p>
      Example: <a href="https://imdbrss.bitboxer.de/rss/ur7019649">https://imdbrss.bitboxer.de/rss/ur7019649</a>
    </p>

    <hr />
    <p>
      <a href="https://github.com/bitboxer/imdbrss">GitHub</a> |
      <a href="http://bodo.tasche.me">Imprint</a>
    </p>

  </body>
</html>
