<html>
  <head>
    <title>imdb ratings rss</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    Creates an rss feed for public imdb ratings.
  </body>
</html>
