<html>
  <head>
    <title>imdb ratings rss</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://unpkg.com/modern-normalize@0.4.0/modern-normalize.css" />
  </head>
  <body>
    <p>
      Creates an rss feed for public imdb ratings.
    </p>

    <p>
      You can find the rss feed under 
      <code>
        /rss/#{USER_ID}
      </code>. To find out your imdb user ID, go to your
      ratings page and look at this part of the URL:
      <pre>
http://www.imdb.com/user/ur7019649/ratings
                         ---------
      </pre>
    </p>


  </body>
</html>
